html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	font-size: 100%;
	color: #323232;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ############## END OF RESET ############## */

body {
	font-family: Arial, Helvetica, sans-serif;
}

.bingo-h1 {
	display: block;
	padding: 0.5rem;
	text-align: center;

	font-size: 2rem;
	font-weight: bold;
}

.bingo-h1__span {
	display: inline-block;
	margin-right: 0.5rem;
	background-color: #FCBF49;

	width: 2rem;
	padding: 0.5rem;
}

.outer-main-div {
	display: flex;
	flex-direction: row;
	width: 100%;
}

.bingo-grid-div {
	flex-grow: 1;
	max-width: 50%;
	text-align: center;
	padding-bottom: 1rem;
}

.bingo-grid-div__h2 {
	font-size: 1.5rem;
	padding-top: 1rem;
	padding-bottom: 0.5rem;
	margin: 0 2%;
	margin-bottom: 0.5rem;

	border-bottom: #323232 0.25rem solid;
}

.bingo-grid-div__number-grid-div {
	padding: 0.75rem 0.5rem 0.25rem 0.5rem;
	display: flex;
	align-items: center;
	max-height: 32.5rem;
	max-width: 30rem;
	margin: auto;
	flex-wrap: wrap;
	flex-direction: column;

	box-shadow: 0 0.125rem 0.5rem 0 #323232;
	border-radius: 0.5rem;
}

.bingo-grid-div__number-grid-div__number-span {
	display: inline-block;
	font-size: 1.5rem;
	width: 2.5rem;
	height: 2.5rem;
	line-height: 2.5rem;
	margin-bottom: 0.5rem;

	border: #323232 0.125rem solid;
	border-radius: 0.5rem;

	transition: background-color 0.1s ease-in-out;
}

.bingo-grid-div__latest-numbers-div {
	margin-top: 2rem;
	font-size: 1.25rem;
	height: 2rem;
}

.bingo-grid-div__latest-numbers-div__number-span {
	display: inline-block;
	width: 2rem;
	height: 2rem;
	line-height: 2rem;
	border: 0.125rem #C5ADFF solid;
	border-radius: 100%;
	background-color: #E4D9FF;
}

.bingo-game-options-div {
	border-left: #323232 0.25rem dashed;
	max-width: 40rem;
}

.bingo-game-options-div__main-div {
	box-sizing: content-box;
	padding: 0rem 1.5rem 1.5rem 1.5rem;
}

.bingo-game-options-div__label {
	font-size: 1.25rem;
}

.bingo-game-options-div__label--margin-top {
	display: block;
	text-align: center;
	margin-top: 2rem;
}

.bingo-game-options-div__select {
	font-size: 1.25rem;
	border: #C5ADFF 0.125rem solid;
}

.bingo-game-options-div__reset-button {
	border: none;
	outline: none;

	font-size: 1.25rem;
	padding: 0.25rem 1rem;
	background-color: #C5ADFF;

	border-radius: 1rem;

	float: right;
}

.bingo-game-options-div__current-number-label {
	margin-top: 2rem;
	text-align: center;
	font-size: 1.5rem;
}

.bingo-game-options-div__current-number {
	margin-top: 1.5rem;
	text-align: center;
	font-size: 5rem;
}

.bingo-game-options-div__next-number-button {
	font-size: 1.5rem;
	padding: 1rem 0rem;
	width: 100%;
	background-color: #FCBF49;
	margin-top: 2rem;
	border-radius: 1.5rem;
}

.bingo-game-options-div__number-input {
	display: block;
	font-size: 1.25rem;
	border-bottom: #323232 0.25rem solid;
	box-shadow: 0 0 0.25rem 0 #323232;
	padding: 0.25rem 0.25rem;
	text-align: center;

	margin: 0.5rem auto;
}

.bingo-game-options-div__number-result {
	display: block;
	text-align: center;

	font-size: 1.25rem;
}

@media only screen and (max-width: 1200px) {
	.outer-main-div {
		flex-direction: column;
	}

	.bingo-grid-div {
		max-width: 100%;
	}

	.bingo-game-options-div {
		max-width: 100%;
	}

	.bingo-game-options-div {
		border: none;
	}
}

button:hover, select:hover {
	cursor: pointer;
}

button, input, select, option {
	border: none;
	outline: none;
	transition: all 0.2s ease-in-out;
}

button:focus, input:focus, select:focus, option:focus {
	box-shadow: 0 0 0 0.25rem #323232;
}